<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análise de Dados</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/flaskr/app/static/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand collapse navbar-collapse justify-content-between" href="#">Análise Exploratória de Dados</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
                <div class="navbar-nav d-flex w-100 justify-content-between">
                    <a class="nav-link" href="#">Automático</a>
                    <a class="nav-link" href="#">Adicionar Novo</a>
                    <div class="nav-item">
                        <select class="form-select" id="">
                            <option value="">Selecionar Tabela</option>
                            <option value="">Tabela 1</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid container-fluid-separacao full-height">
        <div class="row h-100">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="iframe-container">
                    <iframe width="100%" height="100%" src="URL_DE_INCORPORACAO" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
            <div class="col-md-6 d-flex flex-column text-column">
                <div class="text-center">
                    <p class="fs-2">Título</p>
                </div>
                <div class="content">
                    <p>Informações sobre a tabela</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non quasi exercitationem consectetur molestiae! Iusto consequatur iure soluta quaerat earum qui recusandae. Eum dolore maxime est molestiae quibusdam tempora aspernatur asperiores.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo error quisquam distinctio est ratione alias! Quo, dicta similique. Ratione, blanditiis repellendus. Optio iste aliquid, sed omnis unde et blanditiis exercitationem.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo distinctio nulla obcaecati aspernatur maxime vitae voluptates illum fugit consequatur consequuntur culpa, officiis officia ullam accusamus dolorem. Mollitia alias exercitationem inventore.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>